<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaubert.liftago">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="com.shaubert.liftago.App"
        android:theme="@style/MainTheme.Light">

        <activity android:name=".state.SimulatorStateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <service android:name=".simulator.SimulatorConnectionService" android:exported="false"/>

    </application>

</manifest>
